packages:
  yum:
    php: []
    php-mbstring: []
    php-xml: []
    php-pdo: []
    php-mysqlnd: []
    git: []
    
option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_HOST: ${RDS_HOSTNAME}
    DB_NAME: ${RDS_DB_NAME}
    DB_USER: ${RDS_USERNAME}
    DB_PASS: ${RDS_PASSWORD}
    
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /backend
    memory_limit: 256M
    max_execution_time: 60
    display_errors: "On"
    
commands:
  01_composer_install:
    command: "curl -sS https://getcomposer.org/installer | php && php composer.phar install --no-dev --optimize-autoloader --no-interaction --prefer-dist"
    cwd: "/var/app/current/backend"
    test: '[ ! -f /var/app/current/backend/vendor/autoload.php ]' 